.logo img {
  padding: 30px 0;
  width: 100%;
}

div {
  background-color: black;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  color: red;
  padding: 10px;
  text-align: center;
}

.resource-list ul {
    text-align: center;
    line-height: 2;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  bottom: 100px;
  font-family: Helvetica, Arial, sans-serif;
  color: red;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer img {
    width: 20px;
}
